/build
/build*
/out
cmake-build*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts
compile_commands.json

.cache
.clangd
.idea
.vscode
.vs
.claude

*.xcworkspace
xcuserdata
*.DS_Store
docs/shots
docs/shots

# Release outputs
Deploy/Apple-iOS/out
Deploy/Steam/content
Deploy/Steam/output
Deploy/Art/Renders
Deploy/Apple-macOS/out
Deploy/Microsoft-Store/out
Deploy/Google-Play/out
tools/__pycache__
